.heading {
    background-color: lightgray; /* Light gray background color */
    padding: none; /* Add padding for spacing */
    color: rgb(78, 72, 107);
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
 .heading:hover{
  color: rgba(123, 0, 255, 0.5);
 }
  .form-control{
    height: 30px;
    width: 380px;
  }
 